<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css}" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<title>Erreur</title>
</head>
<body>
	<div class = "mt-4 text-center" style="width: 80%; margin: auto;">
		<h1>Une erreur s'est produite ! </h1>
		<h2>Vous n'avez pas les autorisations nécéssaires pour accéder à cette page.</h2>
		<p style="text-align: center;">Code d'erreur : <span th:text="${code}" style="color: red; font-weight: bold;">code</span></p>
		<div style="text-align: center;">
			<h3>Une erreur s'est produite : <span style="color: red;" th:text="${erreur}"></span></h3>
		</div>
		<div class="text-center">
			<a class="btn btn-outline-primary" href="/signin_signup" role="button">Retour</a>
		</div>
		
		 
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>