<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signStyle.css">
    <title>Vote_App</title>
</head>
<body>

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form method="POST" th:action="@{/vote/signup}" th:object="${userForm}">
			<h1>Inscrivez-vous</h1>
			
			<input name="username" th:field="*{username}" type="text" placeholder="Nom d'utilisateur" />
			<input name="email" type="email" th:field="*{email}" placeholder="Email" />
			<input name="password" th:field="*{password}" type="password" placeholder="Mot de passe" />
			<button type="submit">S'inscrire</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="POST" th:action="@{/vote/signin}" th:object="${userForm}">
			<h1>Connectez-vous</h1>
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span> -->
			<input type="text" th:field="*{username}" placeholder="Nom d'utilisateur" />
			<input type="password" th:field="*{password}" placeholder="Mot de passe" />
			<a href="#">Mot de passe oublié?</a>
			<button type="submit">Se connecter</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bon retour parmis nous!</h1>
				<p>Pour continuer, veuillez vous connecter avec vos informations personnelles</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Bienvenue!</h1>
				<p>Entrez vos identifiants pour créer votre compte</p>
				<button class="ghost" id="signUp">S'inscrire</button>
			</div>
		</div>
	</div>
</div>
<!-- <script src="script.js"></script> -->
<script>
    const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});
</script>

<!-- <footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer> -->
</body>
</html>


